<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>TODO list</title>
    <style>
        input:invalid {
            border: 2px dashed red;
        }
    </style>
    <script src="/validation.js"></script>
</head>
<body>
<h1>TODO</h1>

<ul>
    <li th:each="todo: ${todos}" class="todo">
        <span th:text="${todo.text()}" data-role="content"></span>
        <form th:action="'/todo/' + ${todo.id()} + '/delete'" method="POST">
            <button type="submit">Complete</button>
        </form>
    </li>
</ul>
<h2>Add new todo</h2>
<form action="/todo" method="POST" id="new-todo-form">
    <label for="new-todo"></label>
    <input type="text" name="text" id="new-todo"/>
    <button id="add-button" type="submit">Add todo</button>
</form>
</body>
</html>